@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.sidenav {
  position: fixed;
  overflow-x: hidden;
  height: 100%;
  width: 0;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
  font-family: 'Modern No. 20', sans-serif;
  border: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 50px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #EAA85A;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.button1 {
  font-family: 'Modern No. 20', sans-serif;
  letter-spacing: 2px;
  border-radius: 99px;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  font-size: 25px;
  font-weight: 250;
  margin-top: 50px;
  padding: 10px 20px;
  background-color: white;
  margin: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button2 {
  font-family: 'Modern No. 20', sans-serif;
  letter-spacing: 2px;
  border-radius: 99px;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  font-size: 17px;
  font-weight: 250;
  margin-top: 50px;
  padding: 10px 20px;
  background-color: white;
  margin: 20px;
  width: 50%;
  height: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 17%;
}

.button1:hover {
  background-color: black;
  color: white;
}

.button2:hover {
  background-color: #EAA85A;
  color: white;
}

.open {
  font-size: 50px;
  cursor: pointer;
  padding: 20px;
}

#Header {
  background-color: #EAA85A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 454px;
  background-position: center;
  background-size: cover;
  width: 100%;
  margin-top: -20px;
}

.headtit {
  font-family: 'Modern No. 20', sans-serif;
  font-size: 111px;
  margin-top: 150px;
  margin-left: 20px;
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
}

.main-slider {
  width: 25%;
  height: 70vh;
  margin: 0 auto;
  position: relative;
  color: white;
  font-size: 2em;
  margin-top: -40%;
  margin-left: 60%;
  margin-bottom: 12%;
}

.main-slider img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.main-slider .img-info {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar {
  margin-left: 590px;
}

.main-slider .nav-icon {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  z-index: 4;
}

.main-slider .nav-icon i {
  cursor: pointer;
}

.main-slider .rounded-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: -102%;
  width: 100%;
  height: 100%;
}

.main-slider .rounded-buttons div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rebeccapurple;
  border: 1px solid #eee;
  cursor: pointer;
  z-index: 5;
}

.main-slider .rounded-buttons div.active {
  background-color: orangered;
}

.button4 {
  font-family: 'Modern No. 20', sans-serif;
  letter-spacing: 2px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  font-weight: 250;
  background-color: none;
  margin: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  -webkit-box-shadow: 1px 1px 2px white;
          box-shadow: 1px 1px 2px white;
  border: 1px solid white;
  padding: 20px;
}

.button4:hover {
  background-color: white;
  color: black;
}

.formUpdate {
  display: none;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Modern No. 20', sans-serif;
}

section#Rent {
  overflow-x: hidden;
  padding: 30px 0;
  text-align: center;
}

section#Rent .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: 'Modern No. 20', sans-serif;
}

section#Rent .content .card-promo {
  width: 385px;
  height: 400px;
  overflow: hidden;
  margin: 20px;
  padding: 15px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  background-color: #fff;
  /* border-radius: 20px; */
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

section#Rent .content .card-promo .promo-img {
  width: 100%;
  height: 70%;
  overflow: hidden;
  /* border-radius: 20px; */
}

section#Rent .content .card-promo .promo-img img {
  width: 100%;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  position: relative;
}

section#Rent .content .card-promo:hover .promo-img img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  opacity: 1;
}

section#Rent .content .promo-content {
  height: 20%;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contry {
  margin-top: -15px;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

#Rentme {
  font-family: 'Modern No. 20', sans-serif;
  letter-spacing: 2px;
  border-radius: 99px;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -51px;
  width: 30%;
  height: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  background-color: #EAA85A;
  color: white;
  font-size: 15px;
}

#Rentme:hover {
  color: black;
}

.hh4 {
  display: block;
  -webkit-margin-before: 1.33em;
          margin-block-start: 1.33em;
  -webkit-margin-after: 1.33em;
          margin-block-end: 1.33em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
  margin-top: -50px;
}

.pp4 {
  display: block;
  margin-top: -70px;
  margin-left: 10px;
}

.price {
  font-family: 'Modern No. 20', sans-serif;
  font-size: 25px;
  color: grey;
  opacity: 1;
  text-align: center;
}

.tte {
  font-size: 70px;
}

.welcome {
  font-size: 50%;
  text-align: center;
}
/*# sourceMappingURL=User.css.map */