<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="../public/css/StyleErreur.css"> --}}
    <title> Error </title>
</head>

<body style=" font-family: 'Modern No. 20', sans-serif; font-size:xx-large; text-align: center;
">
    <p style="border-style: solid; padding:2em; background-color:rgb(255, 75, 75);"> EMAIL OR PASSWORD IS INCORRECT !!
    </p>
    <div style="text-align: center; "><a href="./index.hbs"><button style="font-family: 'Modern No. 20', sans-serif;
    letter-spacing: 2px;
    border-radius: 99px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    text-decoration: none;
    font-size:0.5em;"> Back </button></a></div>
    </div>
</body>

</html>